# Data Understanding

Berikut adalah arti dari masing-masing kolom:

1. **user_id**: ID unik untuk setiap pengguna.  
2. **location**: Lokasi pengguna (biasanya berupa gabungan kota, negara bagian, dan negara).  
3. **age**: Usia pengguna dalam satuan tahun.  
4. **isbn**: Nomor ISBN (International Standard Book Number) untuk identifikasi unik buku.  
5. **rating**: Rating atau ulasan yang diberikan oleh pengguna terhadap buku (biasanya dalam skala tertentu, misalnya 1-5).  
6. **book_title**: Judul buku.  
7. **book_author**: Nama penulis buku.  
8. **year_of_publication**: Tahun penerbitan buku.  
9. **publisher**: Nama penerbit buku.  
10. **img_s**: URL gambar kecil dari sampul buku.  
11. **img_m**: URL gambar medium dari sampul buku.  
12. **img_l**: URL gambar besar dari sampul buku.  
13. **Summary**: Ringkasan isi buku.  
14. **Language**: Bahasa yang digunakan dalam buku.  
15. **Category**: Kategori atau genre buku (misalnya, fiksi, non-fiksi).  
16. **city**: Kota asal pengguna.  
17. **state**: Negara bagian asal pengguna (jika berlaku).  
18. **country**: Negara asal pengguna.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [10]:
df = pd.read_csv("/content/sample_data/Preprocessed_data.csv")

In [11]:
df

,Unnamed: 0,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,2,11400,"ottawa, ontario, canada",49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,3,11676,"n/a, n/a, n/a",34.7439,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],NaN,NaN,NaN
4,4,41385,"sudbury, ontario, canada",34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18888,18888,214272,"paris, tennessee, usa",42.0000,0385508042,0,The King of Torts,John Grisham,2003.0,Doubleday Books,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,The author of such best-selling legal thriller...,en,['Fiction'],paris,tennessee,usa
18889,18889,214394,"rogersville, alabama, usa",66.0000,0385508042,7,The King of Torts,John Grisham,2003.0,Doubleday Books,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,The author of such best-selling legal thriller...,en,['Fiction'],rogersville,alabama,usa
18890,18890,217986,"ypsilanti, michigan, usa",35.0000,0385508042,0,The King of Torts,John Grisham,2003.0,Doubleday Books,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,The author of such best-selling legal thriller...,en,['Fiction'],ypsilanti,michigan,usa
18891,18891,220095,"portland, oregon, usa",34.7439,0385508042,0,The King of Torts,John Grisham,2003.0,Doubleday Books,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,http://images.amazon.com/images/P/0385508042.0...,The author of such best-selling legal thriller...,en,['Fiction'],portland,oregon,usa
18892,18892,222353,"kempton, illinois, usa",34.7439,0385508042,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# *0. Preprossesing*

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18893 entries, 0 to 18892
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           18893 non-null  int64
 1   user_id              18893 non-null  int64
 2   location             18893 non-null  object
 3   age                  18893 non-null  float64
 4   isbn                 18893 non-null  object
 5   rating               18893 non-null  int64
 6   book_title           18892 non-null  object
 7   book_author          18892 non-null  object
 8   year_of_publication  18892 non-null  float64
 9   publisher            18892 non-null  object
 10  img_s                18892 non-null  object
 11  img_m                18892 non-null  object
 12  img_l                18892 non-null  object
 13  Summary              18892 non-null  object
 14  Language             18892 non-null  object
 15  Category             18892 non-null  object
 16  city                 18763 non-null  object
 17  state                18525 non-null  object
 18  country              18289 non-null  object
dtypes: float64(2), int64(3), object(14)
memory usage: 2.7+ MB

## Hapus Kolom Tidak Berguna

In [13]:
df.drop(['Unnamed: 0', 'img_s', 'img_m', 'img_l'], axis=1, inplace=True)

## Handling Missing Value

In [14]:
df['age'].fillna(df['age'].median(), inplace=True)
df[['city', 'state', 'country']].fillna('Unknown', inplace=True)

<ipython-input-14-5bfc2bd94d8f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)
<ipython-input-14-5bfc2bd94d8f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['city', 'state', 'country']].fillna('Unknown', inplace=True)

## Konversi Tipe Data

In [28]:
df['age'] = df['age'].astype(int)

## Memisahkan Lokasi

In [29]:
location_split = df['location'].str.split(', ', expand=True)
df['city'], df['state'], df['country'] = location_split[0], location_split[1], location_split[2]

In [30]:
df

,user_id,location,age,isbn,rating,book_title,book_author,year_of_publication,publisher,Summary,Language,Category,city,state,country
0,2,"stockton, california, usa",18,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,8,"timmins, ontario, canada",34,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
2,11400,"ottawa, ontario, canada",49,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],ottawa,ontario,canada
3,11676,"n/a, n/a, n/a",34,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],n/a,n/a,n/a
4,41385,"sudbury, ontario, canada",34,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],sudbury,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18888,214272,"paris, tennessee, usa",42,0385508042,0,The King of Torts,John Grisham,2003.0,Doubleday Books,The author of such best-selling legal thriller...,en,['Fiction'],paris,tennessee,usa
18889,214394,"rogersville, alabama, usa",66,0385508042,7,The King of Torts,John Grisham,2003.0,Doubleday Books,The author of such best-selling legal thriller...,en,['Fiction'],rogersville,alabama,usa
18890,217986,"ypsilanti, michigan, usa",35,0385508042,0,The King of Torts,John Grisham,2003.0,Doubleday Books,The author of such best-selling legal thriller...,en,['Fiction'],ypsilanti,michigan,usa
18891,220095,"portland, oregon, usa",34,0385508042,0,The King of Torts,John Grisham,2003.0,Doubleday Books,The author of such best-selling legal thriller...,en,['Fiction'],portland,oregon,usa
18892,222353,"kempton, illinois, usa",34,0385508042,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,kempton,illinois,usa

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18893 entries, 0 to 18892
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              18893 non-null  int64
 1   location             18893 non-null  object
 2   age                  18893 non-null  int64
 3   isbn                 18893 non-null  object
 4   rating               18893 non-null  int64
 5   book_title           18892 non-null  object
 6   book_author          18892 non-null  object
 7   year_of_publication  18892 non-null  float64
 8   publisher            18892 non-null  object
 9   Summary              18892 non-null  object
 10  Language             18892 non-null  object
 11  Category             18892 non-null  object
 12  city                 18893 non-null  object
 13  state                18893 non-null  object
 14  country              18376 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 2.2+ MB

# *1. Collaborative Filtering*

## Memilih Kolom

In [32]:
df_cf = df[['user_id', 'book_title', 'rating']].dropna()

## Filter Buku dan Pengguna

In [33]:
book_counts = df_cf['book_title'].value_counts()
active_books = book_counts[book_counts >= 10].index
df_cf = df_cf[df_cf['book_title'].isin(active_books)]

user_counts = df_cf['user_id'].value_counts()
active_users = user_counts[user_counts >= 5].index
df_cf = df_cf[df_cf['user_id'].isin(active_users)]

## Reset Index

In [34]:
df_cf.reset_index(drop=True, inplace=True)

In [35]:
df_cf

      user_id         book_title  rating
0       11676       Clara Callan       8
1       85526       Clara Callan       0
2       96054       Clara Callan       0
3      177458       Clara Callan       0
4      263325       Clara Callan       6
...       ...                ...     ...
6089   208829  The King of Torts       0
6090   209160  The King of Torts       0
6091   209373  The King of Torts       0
6092   210587  The King of Torts       5
6093   220095  The King of Torts       0

[6094 rows x 3 columns]

#  Implementasi Collaborative Filtering

In [37]:
# !pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 kB 3.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.13.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp310-cp310-linux_x86_64.whl size=2357272 sha256=1a93203d90bfd65c238d3be8bf20abbdcda541e160cdbd5e0668e1a3b96cdff0
  Stored in directory: /root/.cache/pip/wheels/4b/3f/df/6acbf0a40397d9bf3ff97f582cc22fb9ce66adde75bc71fd54
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

In [38]:
from surprise import Dataset, Reader

reader = Reader(rating_scale=(df_cf['rating'].min(), df_cf['rating'].max()))
data = Dataset.load_from_df(df_cf[['user_id', 'book_title', 'rating']], reader)

## Model SVD

In [39]:
from surprise import SVD
from surprise.model_selection import cross_validate

# Inisialisasi model SVD
svd = SVD()

# Evaluasi menggunakan cross-validation
cv_results = cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.5008  3.6187  3.5262  3.5215  3.6373  3.5609  0.0558
MAE (testset)     2.8496  2.9192  2.8342  2.8685  2.8878  2.8719  0.0297
Fit time          0.07    0.07    0.07    0.07    0.07    0.07    0.00
Test time         0.02    0.01    0.01    0.01    0.01    0.01    0.00

## Prediksi dan Rekomendasi

In [40]:
# Fit model pada dataset penuh
trainset = data.build_full_trainset()
svd.fit(trainset)

# Fungsi rekomendasi

## Fungsi Rekomendasi

In [41]:
def recommend_cf(user_id, top_n=10):
    user_rated_books = df_cf[df_cf['user_id'] == user_id]['book_title'].unique()
    all_books = df_cf['book_title'].unique()
    books_to_predict = [book for book in all_books if book not in user_rated_books]

    predictions = [(book, svd.predict(user_id, book).est) for book in books_to_predict]
    recommendations = sorted(predictions, key=lambda x: x[1], reverse=True)[:top_n]
    return [rec[0] for rec in recommendations]

# *2. Content-Based Filtering*

## Memilih Kolom

In [42]:
df_cb = df[['book_title', 'Summary', 'book_author', 'Category', 'Language']].drop_duplicates(subset='book_title')

## Handling Missing Value

In [43]:
df_cb['Summary'].fillna('', inplace=True)
df_cb['Category'].fillna('Unknown', inplace=True)
df_cb['Language'].fillna('Unknown', inplace=True)

<ipython-input-43-83c48f726f92>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cb['Summary'].fillna('', inplace=True)
<ipython-input-43-83c48f726f92>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cb['Category'].fillna('Unknown', inplace=True)
<ipython-input-43-83c48f726f92>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cb['Language'].fillna('Unknown', inplace=True)

## Preprocess Teks

In [52]:
import re
from sklearn.feature_extraction.text import TfidfVectorizer

df_cb['Summary_cleaned'] = df_cb['Summary'].apply(lambda x: re.sub(r'[^\w\s]', '', x.lower()))
tfidf = TfidfVectorizer(stop_words='english', max_features=5000)
tfidf_matrix = tfidf.fit_transform(df_cb['Summary_cleaned'])

## Encode Atribut Kategorikal

In [53]:
print(df_cb['Category'].head())
print(df_cb['Category'].apply(type).value_counts())

0     ['Social Science']
1          ['Actresses']
15         ['1940-1949']
18           ['Medical']
29            ['Design']
Name: Category, dtype: object
Category
<class 'str'>    248
Name: count, dtype: int64

In [54]:
from sklearn.preprocessing import MultiLabelBinarizer
import pandas as pd

# Tangani list kosong di kolom Category
df_cb['Category'] = df_cb['Category'].apply(lambda x: ['Unknown'] if len(x) == 0 else x)

# Encode Category dengan MultiLabelBinarizer
mlb = MultiLabelBinarizer()
category_encoded = mlb.fit_transform(df_cb['Category'])

# Encode Language dengan pd.get_dummies
language_encoded = pd.get_dummies(df_cb['Language']).values

# Hasil Encoded
print("Category Encoded Shape:", category_encoded.shape)
print("Language Encoded Shape:", language_encoded.shape)

Category Encoded Shape: (248, 54)
Language Encoded Shape: (248, 6)

## Gabungkan Fitur

In [55]:
from scipy.sparse import hstack

content_features = hstack([tfidf_matrix, category_encoded, language_encoded])

# Implementasi Content-Based Filtering

## Hitung Similarity

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

book_similarity = cosine_similarity(content_features)
book_indices = pd.Series(df_cb.index, index=df_cb['book_title']).drop_duplicates()

## Fungsi Rekomendasi

In [57]:
def recommend_cb(book_title, top_n=10):
    book_idx = book_indices[book_title]
    similar_indices = book_similarity[book_idx].argsort()[::-1][1:top_n+1]
    return df_cb.iloc[similar_indices]['book_title'].tolist()

# *3. Hybrid Collaborative dan Content-Based*

In [58]:
def hybrid_recommend(user_id, book_title, top_n=10, alpha=0.5):
    # Collaborative Filtering recommendations
    cf_recs = recommend_cf(user_id, top_n=top_n)

    # Content-Based Filtering recommendations
    cb_recs = recommend_cb(book_title, top_n=top_n)

    # Kombinasikan skor
    combined_scores = {}
    for idx, book in enumerate(cf_recs):
        combined_scores[book] = alpha * (top_n - idx)
    for idx, book in enumerate(cb_recs):
        combined_scores[book] = combined_scores.get(book, 0) + (1 - alpha) * (top_n - idx)

    # Urutkan rekomendasi
    hybrid_recs = sorted(combined_scores.items(), key=lambda x: x[1], reverse=True)
    return [rec[0] for rec in hybrid_recs[:top_n]]

# *4. Penggunaan(output) Tiap Algoritma*

## **4.1 Collaborative Filtering**

In [59]:
# Masukkan user_id untuk mendapatkan rekomendasi
user_id = 12345  # Contoh user_id dalam dataset Anda
recommendations_cf = recommend_cf(user_id, top_n=10)
n = 0
# Tampilkan hasil rekomendasi
print("Rekomendasi berdasarkan Collaborative Filtering:")
for i in recommendations_cf:
  n += 1
  print(f'{n}. {i}')

Rekomendasi berdasarkan Collaborative Filtering:
1. Rich Dad, Poor Dad: What the Rich Teach Their Kids About Money--That the Poor and Middle Class Do Not!
2. To Kill a Mockingbird
3. One Hundred Years of Solitude
4. Memoirs of a Geisha
5. Night Mare (Xanth Novels (Paperback))
6. The Lovely Bones: A Novel
7. The Five People You Meet in Heaven
8. The Catcher in the Rye
9. Fast Women
10. The Kitchen God's Wife

## **4.2 Content-Based Filtering**

In [60]:
# Masukkan book_title untuk mendapatkan buku serupa
book_title = "Classical Mythology"
recommendations_cb = recommend_cb(book_title, top_n=10)
n = 0
# Tampilkan hasil rekomendasi
print("Rekomendasi berdasarkan Content-Based Filtering:")
for i in recommendations_cb:
  n += 1
  print(f'{n}. {i}')

Rekomendasi berdasarkan Content-Based Filtering:
1. The Right Man : The Surprise Presidency of George W. Bush
2. The Dragons of Eden: Speculations on the Evolution of Human Intelligence
3. The Prince
4. Mary-Kate & Ashley Switching Goals (Mary-Kate and Ashley Starring in)
5. Haveli (Laurel Leaf Books)
6. Tree Grows In Brooklyn
7. Skin And Bones
8. Flood : Mississippi 1927
9. Tell Me This Isn't Happening
10. LAW OF THE JUNGLE (HARDY BOYS CASE FILE 105) : LAW OF THE JUNGLE (Hardy Boys, The)

## **4.3 Hybrid Filtering**

In [61]:
# Masukkan user_id dan book_title untuk kombinasi rekomendasi
user_id = 12345
book_title = "Classical Mythology"
recommendations_hybrid = hybrid_recommend(user_id, book_title, top_n=10, alpha=0.5)
n = 0
# Tampilkan hasil rekomendasi
print("Rekomendasi berdasarkan Hybrid Filtering:")
for i in recommendations_hybrid:
  n += 1
  print(f'{n}. {i}')

Rekomendasi berdasarkan Hybrid Filtering:
1. Rich Dad, Poor Dad: What the Rich Teach Their Kids About Money--That the Poor and Middle Class Do Not!
2. The Right Man : The Surprise Presidency of George W. Bush
3. To Kill a Mockingbird
4. The Dragons of Eden: Speculations on the Evolution of Human Intelligence
5. One Hundred Years of Solitude
6. The Prince
7. Memoirs of a Geisha
8. Mary-Kate & Ashley Switching Goals (Mary-Kate and Ashley Starring in)
9. Night Mare (Xanth Novels (Paperback))
10. Haveli (Laurel Leaf Books)